@font-face {
    font-family: "integral";
    src: url(IntegralCF-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
    font-family: integral;
}

.mainSection{
    background-image: url("img.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 15px;
    width: 40rem;
    height: auto;
}

.myImg{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: 0px -20px;
    outline: 2px solid white;
    border-radius: 15px;
}

.text .myText{
    color: white;
    font-size: 3rem;
    margin-left: 2rem;
}

.text .icons{
    display: flex;
    margin-top: 1rem;
    margin-left: 2rem;
}

.text .icons img{
    width: 20px;
    margin-right: 1rem;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(128deg) brightness(102%) contrast(101%);
}

.text .icons img:hover{
    filter: invert(100%) sepia(90%) saturate(5435%) hue-rotate(103deg) brightness(102%) contrast(107%);
}

@media (max-width: 650px){
    .info{
        flex-direction: column;
        max-width: 80%;
    }

    .text .myText{
        display: flex;
        margin-top: 1.5rem;
        margin-left: 0rem;
        /* outline: 2px solid black; */
    }
    
    .myText div{
        margin: 0 0.5rem;
        font-size: 2rem;
    }

    .text .icons{
        justify-content: center;
        margin-left: 0rem;
        /* outline: 2px solid black; */
    }
}